/* Introduction.css */
.introduction {
    padding: 9vh 8vh 5vh;
    color: black;
    text-align: start;
}

.logo {
    background: black;
    color: white;
    font-size: 3vh;
    padding: 12px 30px;
    display: inline-block;
}

.intro {
    margin-top: 8vh;
    font-size: 40px;
    font-family: "Exo 2", sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
}

.listWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.networksSkills,
.worksLanguages {
    margin-top: 10vh;
    display: flex;
    width: 100%;
}

.networks,
.skills,
.works,
.languages {
    width: 50%;
    margin: 20px;
}

.networkText {
    color: grey;
    font-size: 12px;
    font-family: "Exo 2", sans-serif;
    letter-spacing: 3px;
    display: inline-block;
    padding-bottom: 20px;
}

.displayNetwork,
.showcaseText {
    margin-top: 16px;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Exo 2", sans-serif;
    position: relative;
    color: black;
    text-decoration: none;
    display: block;
}

.displayNetwork:after {
    content: '';
    position: absolute;
    width: 6rem;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: grey;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.displayNetwork:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}




@media (max-width: 1000px) {
    .introduction {
        padding: 9vh 2vh 5vh;
        color: black;
        text-align: start;
    }

    .intro {
        margin-top: 8vh;
        font-size: 35px;
        font-family: "Exo 2", sans-serif;
        letter-spacing: 2px;
        font-weight: 500;
    }
}