.inspired {
    max-lines: 1;
        text-align: center;
        font-size: 13px;
        display: block;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer{
    background: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.footer p{
    align-items: center;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 2rem;

}

@media (max-width: 1000px) {
    .footer p{
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 1rem;
        font-size: 28px;
        font-weight: 400;
    }

    .hireButton{
        background-color: black;
        align-items: center;
        text-align: center;
color: white;

        justify-content: center;
        border: 1px solid black;
        display: inline-block;
        padding: 15px 15px 15px 15px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-shadow: 2px solid red;

    }
    
}

@media (min-width: 1000px) {
    .footer p{
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 1rem;
        font-size: 35px;
        font-weight: 400;
    }

    .hireButton{
        background-color: black;
color: white;
        align-items: center;
        cursor: pointer;
        text-align: center;
        justify-content: center;
        border: 1px solid black;
        display: inline-block;
        padding: 15px 15px 15px 15px;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-shadow: 2px solid red;

    }

    .footer p{
        align-items: center;
        text-align: center;
        font-size: 40px;
        letter-spacing: 2px;
        font-weight: 500;
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 6rem;
    }
    


    
}

